.main-project
  .form-container-project
    %h4 Add a New Project
    = render partial: 'form'
.view-projects-main
  - @projects && @projects.each do |project|
    = render partial: 'show', locals: { project: project }
