= render partial: 'dashboard/dashboard/select_active_portfolio'
.project-main
  = render partial: 'project_sidebar'
  .form-container-project
    %h4 Add a New Project
    .project-form-sub-container
      = render partial: 'form'
