.portfolio-config-main
  = render partial: 'dashboard/portfolio_config/change_url'
  = render partial: 'dashboard/portfolio_config/change_theme'
  = render partial: 'dashboard/portfolio_config/change_colors'
