.dashboard-container
  .dev-portal-logo
    %p My Dev Portal
  .header
    .main-header
    .current-user-header
      %p
        = current_user.email
    .settings
  .sidebar
    .current-user-sidebar
      .sidebar-gravatar
        = image_tag current_user.gravatar_url
      .sidebar-name
        %p User Name
    .sidebar-menu
      .menu-item-1
        menue item 1
      .menu-item-2
        menue item 2
      .menu-item-3
        menue item 3
      .menu-item-4
        menue item 4
  .main-content
    maincontent
