.about-main {
  display: grid;
  grid-template-columns: auto 615px auto;
  grid-template-rows: auto;
  margin-top: 20px;
  grid-gap: 20px;
  background: linear-gradient(to bottom, #33566f 0%, #33566f 5%, #70acd1 5%, #70acd1 95%, #33566f 95%, #33566f 0% );
}

.about-form h4 {
  justify-self: center;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  width: 400px;
}

.about-form {
  color: white;
  background-color: #1c1c1c;
  box-shadow: 3px 3px 1px 0px black;
  border-radius: 5px;
  padding: 30px 35px 20px 35px;
  grid-column: 2 / 3;
  display: grid;
}

.form-about .actions {
  justify-self: end;
}

.about-form-container {
  background-color: #606060;
  box-shadow: 3px 3px 1px 0px black;
  padding: 15px;
  border-radius: 5px;
}

.form-about {
  display: grid;
  grid-template-columns: 510px;
  grid-template-rows: repeat(7, 70px) 100px 350px;
}

.form-about .field input {
  width: 510px;
}

.about-me-input {
  height: 300px;
  width: 510px;
}

.about-me-brief-input {
  height: 50px;
  width: 510px;
}

@media only screen and (min-width: 1200px) {
  .form-about {
    grid-template-columns: 510px 510px;
    grid-template-rows: repeat(7, 70px);
    grid-column-gap: 40px;
  }

  .form-about .actions {
    grid-column: span 2;
  }

  .about-main {
    grid-template-columns: auto 1160px auto;
  }

  .field.about-me {
    grid-column: span 2;
    grid-row: span 3;
  }

  .about-me-input {
    height: 150px;
    width: 1060px;
  }
}
