body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}

.dashboard-container a:hover{
  text-decoration: none;
  color: white;
}

select {
  background-color: white;
  border: 0px;
  padding: 5px;
}

.minicolors-theme-default .minicolors-input {
  height: 28px;
}

.alert {
  margin-top: 20px;
  margin-bottom: -20px;
}

.dashboard-container a {
  color: white;
}

.field_with_errors input {
  background-color: red;
}

.set-portfolio-container {
  display: flex;
  justify-content: flex-end;
}

.form-set-portfolio {
  padding: 10px;
  background-color: #24a3b7;
  width: 200px;
  height: 90px;
  margin-top: 40px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: -2px 3px 1px black;
  color: white;
}

.form-set-portfolio label {
  font-size: 20px;
}

.form-set-portfolio select {
  font-size: 14px;
  height: 30px;
  width: 175px;
  background-color: white;
  color: black;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

.dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 90px 130px auto;
}

.top-nav {
  background-color: #ba2226;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav .links {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  font-size: 24px;
}

.account-settings {
  border-right: 2px solid white;
  margin-right: 12px;
  padding-right: 15px;
}

.logo {
  background-image: image-url('mydevportal-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 97px;
  margin-left: 40px;
}

.bottom-nav {
  background-color: #e12831;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-link {
  border-right: 3px solid white;
  padding-right: 30px;
  margin-right: 30px;
  height: 75px;
  display: flex;
  align-items: center;
}

.home-link .nav-item {
  height: 60px;
  width: 170px;
  font-size: 26px;
}

.dashboard-links {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: 15px auto;
  grid-gap: 10px;
  grid-column-gap: 15px;
  margin-bottom: 12px;
}

.dashboard-links small {
  grid-column: span 3;
  color: white;
  align-self: start;
  font-size: 14px;
  margin-left: 3px;
}

.dashboard-links .nav-item {
  height: 45px;
  font-size: 18px;
}

.nav-item {
  background-color: #ba2226;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.active {
  background-color: #81181a
}

.portfolios-nav {
  display: grid;
  grid-template-columns: repeat(5, 125px);
  grid-template-rows: 65px;
  grid-column-gap: 15px;
  background-color: #1c1c1c;
  justify-content: center;
  align-items: center;
}

.portfolio-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  height: 35px;
  border-radius: 5px;
}

.active-portfolio-menue {
  position: relative;
  z-index: 2;
  background-color: #33566f;
  margin-bottom: -23px;
  padding-bottom: 35px;
  padding-top: 20px;
  box-shadow: 2px -2px 1px black;
  border-radius: 5px 5px 0px 0px;
}

.main-content {
  background-color: #33566f;
  box-shadow: inset 0px 5px 1px 1px black;
  min-height: 100vh;
}
