// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'portfolio_config';
@import 'add_projects';
@import 'project_display';
@import 'technologies';
@import 'portfolio_headers';
@import 'abouts';

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}

.field_with_errors input {
  background-color: red;
}

.dashboard-container {
  display: grid;
  grid-template: 50px 100vh
  / 200px auto;
}

.dev-portal-logo {
  background-color: #70acd1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev-portal-logo p {
  font-size: 28px;
}

.header {
  background-color: #83c9f4;
  color: white;
  display: grid;
  grid-template-columns: auto 300px;
  justify-items: end;
  align-items: center;
}

.current-user-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  background-image: image-url("settings.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar {
  background-color: #0a0d72;
  color: white;
}

.current-user-sidebar {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 75px 125px;
}

.sidebar-gravatar {
  padding: 5px;
}

.sidebar-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #323472;
  display: grid;
  grid-auto-rows: 30px;
  box-shadow: 1px 1px 1px 1px #1F2047;
}

.sidebar-heading {
  text-align: center;
  font-size: 26px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item:hover {
  background-color: #1F2047;
}

.main-content {
  background-color: #f7fbff;
  box-shadow: inset 1px 2px 1px 1px grey;
}

.delete-button {
  color: white;
  background-color: #990000;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
}

.delete-button:hover {
  background-color: #700000;
}

.edit-button {
  color: white;
  background-color: #6B9900;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.edit-button:hover {
  background-color: #4A6B00;
}

.field textarea {
  box-shadow: 1px 1px 1px 0px grey;
}

.field input {
  box-shadow: 1px 1px 1px 0px grey;
}

.actions input {
  box-shadow: 1px 1px 1px 0px grey;
}

.active {
  background-color: #1F2047;
}
