body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}

a:hover{
  text-decoration: none;
}

.dashboard-container a {
  color: white;
}

.field_with_errors input {
  background-color: red;
}

.dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 90px 130px auto;
}

.top-nav {
  background-color: #ba2226;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav .links {
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  font-size: 24px;
}

.account-settings {
  border-right: 2px solid white;
  margin-right: 10px;
  padding-right: 10px;
}

.logo {
  background-image: image-url('mydevportal-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 97px;
  margin-left: 30px;
}

.bottom-nav {
  background-color: #e12831;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-link {
  border-right: 2px solid white;
  padding-right: 30px;
  margin-right: 30px;
  height: 75px;
  display: flex;
  align-items: center;
}

.home-link .nav-item {
  height: 60px;
  width: 170px;
  font-size: 26px;
}

.dashboard-links {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: 20px auto;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.dashboard-links small {
  grid-column: span 3;
  color: white;
  align-self: start;
  font-size: 16px;
}

.dashboard-links .nav-item {
  height: 40px;
  font-size: 16px;
}

.nav-item {
  background-color: #ba2226;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.main-content {
  background-color: #33566f;
  box-shadow: inset 0px 5px 1px 1px black;
  min-height: 100vh;
}

@media only screen and (max-width: 885px) {

}
