.home-container {
  display: grid;
}

.welcome-box {
  justify-self: center;
  margin-top: 10vh;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
}

.go-to-portfolio {
  background-color: #24a3b7;
  font-size: 28px;
  box-shadow: 3px 3px 1px black;
  padding: 10px;
}

.go-to-portfolio a {
  color: white;
  height: 68px;
  padding: 12px;
}

.new-user-box {
  display: grid;
  grid-template-columns: 350px;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
  color: white;
  grid-gap: 10px;
  box-shadow: 3px 3px 2px black;
}

.new-user-box a {
  color: white;
  font-weight: bold;
}

.new-user-box h2 {
  text-align: center;
}
