

.job-application-container {
  margin-top: 10vh;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  overflow-x: scroll;
  padding-top: 20px;
  width: 85vw;
}

.job-application-container table, th, td {
  border-right: 3px solid #323472;
}

.job-application-container table {
  width: 2000px;
  border-collapse: collapse;
}

.table-container {
  width: 100%;
}

.grip {
  background-image: image-url('down-arrow.svg');
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -8px;
  position: relative;
  z-index: 88;
}

.table-item-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-auto-rows: 30px;
  justify-content: center;
  align-items: center;
}

.job-application-icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  margin-left: 5px;
}

.job-application-icon.delete {
  background-image: image-url('delete.svg');
}

.job-application-icon.edit {
  background-image: image-url('edit.svg');
}

.job-application-icon.view {
  background-image: image-url('view.svg');
}

@media only screen and (max-width: 1700px ) {
  .job-application-container {
    width: 80vw;
  }
}

@media only screen and (max-width: 1300px ) {
  .job-application-container {
    width: 75vw;
  }
}

@media only screen and (max-width: 1050px ) {
  .job-application-container {
    width: 70vw;
  }
}
