// Add technology form

.technologies-main {
  display: grid;
  grid-template-columns: auto 550px auto;
  margin-top: 75px;
  grid-gap: 20px;
}

.technologies-form-container {
  color: white;
  background-color: #83c9f4;
  border-radius: 10px;
  padding: 20px;
  grid-column: 2 / 3;
  justify-self: center;

}

.form-technology {
  display: grid;
  grid-template-columns: 230px 230px;
  grid-template-rows: 40px 40px 20px;
}

.form-technology .field input {
  box-shadow: 0px 0px 0px 0px;
}

.form-technology .actions input {
  box-shadow: 0px 0px 0px 0px;
}

.form-technology div:nth-child(1) {
  grid-row: 1 / span 2;
}

.show-select {
  display: grid;
  grid-template-columns: 150px 50px;
  grid-template-rows: 25px;
}

.years-exp-field {
  width: 30px;
}

.exp-input {
  display: grid;
  grid-template-columns: 150px 50px;
  grid-template-rows: 25px;
}

.form-technology .actions {
  justify-self: center;
  grid-column: 2 / 3;
}

// show technology index

.technologies-show-main-container {
  color: white;
  background-color: #00A6FB;
  box-shadow: 3px 4px 3px 0px grey;
  border-radius: 25px;
  padding: 20px;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 150px 100px 175px 100px;
  justify-content: center;
}

.edit-delete-header {
  justify-self: center;
}

.edit-delete-technology {
  display: grid;
  grid-template-columns: 25px 25px;
  justify-content: center;
}

.technology-edit-icon {
  background-image: image-url('edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  margin-right: 5px;
}

.technology-delete-icon {
  background-image: image-url('delete.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  margin-left: 5px;
}

.show-proficiency {
  margin-top: 4px;
}

.progress {
  box-shadow: 1px 1px grey;
}
