.new-portfolio-container
  .new-portfolio.config-container
    %h4 Create a New Portfolio
    %p
      Want to have a portfolio that showcases a slightly different set of skills?
      Or, maybe you want one portfolio for front-end work and another for back-end work?
      Create a new portfolio with its own URL, projects, skills, etc...  You can import
      skills and projects from your existing portfolios to your new one.
    = form_for Portfolio.new do |f|
      .form-portfolio-url
        .field
          = f.label :url, 'New Portfolio URL'
          = f.text_field :url, class: 'input-new-portfolio-url'
        .actions
          = submit_tag 'Create'
