= render partial: 'dashboard/dashboard/select_active_portfolio'
.technologies-main
  .technologies-form-container
    %h4 Add Known Technologies/Skills
    .technolgies-form-sub-container
      = render partial: 'form'
  = render partial: 'show'
