.about-main
  .about-form
    %h4 Create Your "About Me"
    %p
      This is where you can fill out your personal information to be displayed
      on your portfolio.  Be sure to use full links for your contact info (eg:
      links should begin with 'http://')
    = render partial: 'form'
