.devise {
  min-height: 100vh;
  background-color: #1c1c1c;
  display: grid;
  justify-content: center;
  padding-top: 10vh;
  color: white;
  font-size: 18px;
  grid-template-columns: 350px;
}

.devise a {
  color: white;
}

.devise h2 {
  background-color: #e12831;
  box-shadow: 3px 3px 1px 0px black;
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
  padding: 15px;
  font-size: 28px;
}

.devise form {
  margin-top: 10px;
  display: grid;
  grid-row-gap: 10px;
}

.devise-form-container {
  background-color: #606060;
  box-shadow: 3px 3px 1px 0px black;
  padding: 15px;
  border-radius: 0px 0px 5px 5px;
}

.devise .actions input {
  background-color: #24a3b7;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 10px;
}

.devise input {
  width: 320px;
}

.devise .cancel-account {
  margin-top: 40px;
}

.devise .cancel-button {
  background-color: #ba2226;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding: 5px 10px 5px 10px;
}

.devise .current-password {
  margin-top: 30px;
}

.devise .remember-me input {
  width: 20px;
  justify-self: start;
  height: 20px;
}

.devise .remember-me {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
}
