.homepage {
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
  justify-items: center;
  background-color: #1C1C1C;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #BA2226;
  color: white;
}

.nav-links a {
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 155px;
  font-size: 18px;
  padding-right: 20px;
}

.nav-bar .title {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header {
  display: grid;
  background-color: #E12831;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 100px;
}

.sign-up-link {
  border-right: 2px solid white;
  padding-right: 15px;
}

.logo {
  background-image: image-url('mydevportal.svg');
  height: 330px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.feature-container {
  display: grid;
  grid-template-columns: auto minmax(250px, 1200px) auto;
  grid-template-rows: auto auto;
  width: 100%;
  background-color: #1C1C1C;
  margin-bottom: -50px;
  position: relative;
  z-index: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-gap: 50px;
  width: 100%;
  justify-content: center;
  grid-column: 2 / 3;
  padding-top: 75px;
  padding-bottom: 50px;
}

.feature {
  text-align: center;
  background-color: #242424;
  color: white;
  height: 280px;
  width: 230px;
  border-radius: 5px;
}

.feature:hover {
  cursor: pointer;
}

.active-feature {
  transform: scale(1.1);
}

.feature h4 {
  margin-top: 35px;
}

.feature-icon {
  margin-top: 20px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-icon.portfolio {
  background-image: image-url('portfolio.svg')
}

.feature-icon.github {
  background-image: image-url('github-large.svg')
}

.feature-icon.track {
  background-image: image-url('track.svg')
}

.feature-icon.blog {
  background-image: image-url('blog.svg')
}

.feature-detail-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-bottom: 75px;
  width: 66%;
  justify-self: center;
}

.hidden {
  display: none;
}

.detail {
  color: white;
  font-size: 20px;
}

.detail a {
  color: white;
  font-weight: bold;
}

.footer {
  width: 100%;
  color: white;
  display: flex;
}

.contact {
  background-color: #6A8FA9;
  width: 40%;
  color: #CADDE8;
  padding: 75px 20px 50px 20px;
  position:relative;
}

.contact h4 {
  color: white;
}

.contact a {
  color: white;
}

.about {
  width: 60%;
  padding: 50px 20px 30px 20px;
  background-color: #24A3B7;
  display: grid;
  grid-template-rows: auto auto;
  align-items: end;
  position: relative;
  z-index: 1;
}

.about h4 {
  font-size: 40px;
  margin: 0px;
}

@media only screen and (max-width: 1020px ) {
  .features {
    grid-template-columns: repeat(2, 215px);
  }
}

@media only screen and (max-width: 500px ) {
  .features {
    grid-template-columns: 215px;
  }
}
