.homepage {
	background-color: #1C1C1C;
}

.nav {

	&-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		background-color: #BA2226;;
		color: #fff;

		.title {
			padding-left: 20px;
		}
	}

	&-links {
		width: 155px;
		font-size: 18px;
		padding-right: 20px;

		a {
			color: #fff;
		}
	}
}

.header {
	background-color: #E12831;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.sign-up-link {
	border-right: 2px solid #fff;
	padding-right: 15px;
}

.logo {
	background: #E12831 image-url('mydevportal.svg') no-repeat center;
	height: 330px;
	margin-bottom: 50px;
}

.features {
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	grid-gap: 50px;
}

.feature {
	text-align: center;
	background-color: #242424;
	color: #fff;
	height: 280px;
	width: 230px;
	border-radius: 5px;

	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 75px 0;
		background-color: #1C1C1C;
	}

	&:hover {
		cursor: pointer;
	}

	h4 {
		margin-top: 35px;
	}

	&-icon {
		margin-top: 20px;
		height: 140px;
		background-position: center;
		background-repeat: no-repeat;

		&.portfolio {
			background-image: image-url('portfolio.svg');
		}

		&.github {
			background-image: image-url('github-large.svg');
		}

		&.track {
			background-image: image-url('track.svg');
		}

		&.blog {
		 	background-image: image-url('blog.svg');
		}
	}

	&-detail-container {
		width: 50%;
		display: flex;
		justify-content: center;
	}
}

.active-feature {
	transform: scale(1.1);
	box-shadow: 1px 1px 2px rgba(225,40,49,0.3);
}


.hidden {
	display: none;
}

.detail {
	color: #fff;
	font-size: 20px;
	margin-top: 35px;

	a {
		font-weight: bold;
	}
}

.footer {
	color: #fff;
	display: flex;
}

.contact {
	background-color: #6A8FA9;
	width: 40%;
	color: #CADDE8;
	padding: 2rem 2rem 1rem;

	h4,
	a {
		color: #fff;
	}
}

.about {
	width: 60%;
	padding: 2rem 2rem 1rem;
	background-color: #24A3B7;
	display: grid;

	h4 {
		font-size: 40px;
	}
}

@media only screen and (max-width: 1080px ) {
	.features {
		grid-template-columns: repeat(2, 6fr);
	}
}

@media only screen and (max-width: 900px ) {
	.about, 
	.contact{
		width: 100%;
	}
	.footer {
		flex-direction: column;
	}
}