.portfolio-config-main {
  margin-top: 75px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  grid-gap: 20px;
}

.config-container {
  color: white;
  background-color: #00A6FB;
  box-shadow: 3px 4px 1px 0px grey;
  border-radius: 25px;
  padding: 20px;
}

.config-container .actions {
  justify-self: end;
  padding-right: 10px;
}

.config-container h4 {
  text-align: center;
}

.change-url-form-container {
  display: grid;
  grid-template-rows: 50px 60px 200px;
}

.form-portfolio-url {
  display: grid;
  grid-template-rows: 100px 50px;
}

.input-portfolio-url {
  width: 250px;
}

.form-portfolio-colors {
  display: grid;
  grid-template-rows: repeat(5, 40px);
  margin-top: 20px;
}

.form-portfolio-colors .field {
  display: grid;
  grid-template-columns: 115px 115px;
  justify-content: center;
}
