
.view-projects-main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 350px;
  justify-content: center;
  margin-top: 50px;
}

.project-mini-display-container {
  color: white;
  background-color: #00A6FB;
  box-shadow: 3px 4px 3px 0px black;
  border-radius: 25px;
  padding: 20px;
  display: grid;
  grid-template-columns: 180px 180px;
  grid-template-rows: repeat(5, 65px);
  grid-column-gap: 10px;
}

.project-mini-display-container p:nth-child(2) {
  grid-row: 1 / span 2;
  grid-column: 2 / 3;
}

.project-mini-display-container p:nth-child(3) {
  grid-row: 3 / span 2;
  grid-column: 2 / 3;
}

.project-mini-display-container p:nth-child(7) {
  grid-column: 1 / span 2;
}
