%link{ rel: 'stylesheet', href: '/assets/change_portfolio_url' }

.main
  .form-container
    %h4 Change your portfolio's URL
    = form_for current_user.portfolios.first do |f|
      .field
        = f.label :url, 'Portfolio URL'
        = f.text_field :url
      .actions
        = submit_tag 'Update'
