.technologies-show-main-container
  .technology-header
  .years-exp-header
  .proficency-header
  .edit-delete-header
  .technologies-container
    - @technologies.each do |technology|
      = technology.name
