/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Card
2.0 Slider
3.0 Bullets
4.0 Section
5.0 Button
6.0 Modal
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Card
--------------------------------------------------------------*/

.card {
  position: relative;
  padding: 30px;

  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 200px 90px 35px;

  border-radius: 8px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.10);
}

.card .project-title {
  grid-column: 1 / 3;
  justify-self: center;
  font-size: 34px;
}

.card .project-image {
  align-self: center;
  justify-self: center;
}

.card .project-description {
  grid-row: 2 / 5;
}

.card .project-tech {
  margin-top: 10px;
}

.card .show-more {
  justify-self: end;
  margin-right: 10px;
}

.card h6 {
  font-weight: bold;
}

.card .image-button {
  display: none;
}

@media only screen and (max-width: 700px ) {
  .card .project-description {
    display: none;
  }

  .card .project-tech {
    display: none;
  }

  .card .project-image {
    display: none;
  }

  .card .show-more {
    display: none;
  }

  .card .image-button {
    display: block;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card .project-title {
    grid-column: auto;
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    justify-content: center;
  }

  .card .image-button:hover{
    opacity: .7;
  }
}

@media only screen and (max-width: 500px ) {
  .card .project-title {
    font-size: 26px;
  }
}
/*--------------------------------------------------------------
2.0 Slider
--------------------------------------------------------------*/

.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // .slider__radio
  &__radio {
    display: none;
  }

  // .slider__holder
  &__holder {
    position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;

    text-align: left;

    @media (max-width: 900px) {
      max-width: 540px;
    }

    @media (max-width: 600px) {
      margin-top: 60px;
    }

    @media (max-width: 500px) {
      max-width: 300px;
    }
  }

  // .slider__item
  &__item {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    overflow: hidden;

    width: 100%;

    opacity: 1;

    cursor: pointer;
  }

  // .slider__item-content
  &__item-content {
    padding: 40px;

    @media (max-width: 600px) {
      padding: 32px 32px;
    }

    @media (max-width: 375px) {
      padding: 40px 24px;
    }
  }

  // .slider__item-text
  &__item-text {
    padding: 60px 0;
  }
}

/*--------------------------------------------------------------
3.0 Bullets
--------------------------------------------------------------*/

.bullets {
  z-index: 10;

  display: block;

  width: auto;
  height: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 56px;

  text-align: center;

  @media (max-width: 600px) {
    margin-top: 32px;
  }

  // .bullets__item
  &__item {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 4px;

    border-radius: 6px;
    background: rgba($black, 0.2);

    cursor: pointer;

    // .bullets__item:hover
    &:hover {
      background: $white;
    }
  }
}

/*--------------------------------------------------------------
4.0 Section
--------------------------------------------------------------*/

.section {
  position: relative;

  width: 100%;
  padding: 24px;

  text-align: center;

  // .section__entry
  &__entry {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;

    // .section__entry--center
    &--center {
      text-align: center;
    }
  }

  // .section__title
  &__title {
    display: block;

    padding-bottom: 12px;
  }

  // .section__text
  &__text {
    display: block;
  }
}

/*--------------------------------------------------------------
5.0 Button
--------------------------------------------------------------*/

.button {
  display: inline-block;

  height: 44px;
  padding: 12px 16px;

  font-weight: 500;
  line-height: 20px;

  color: $white;
  border-radius: 3px;
  background: rgba($black, 0.2);

  // .button:hover
  &:hover {
    background: rgba($black, 0.1);
  }
}

/*--------------------------------------------------------------
6.0 Modal
--------------------------------------------------------------*/

.slider__holder .modal-dialog {
  max-width: 1100px;
  width: 95%;
  height: auto;
}

.slider__holder .modal-body {
  color: black;
  display: grid;
  grid-template-rows: auto;
}

.slider__holder .modal-project-image {
  max-width:95%;
  height: auto;
  justify-self: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}
